


.thumnailsList {
  margin: 0px;
  padding:0;
  text-align: center;
  vertical-align: middle;
  list-style: none;
 
}
.thumnailsList li{
  width: 300px;
  height: auto;
  display: inline-block;
  padding: 5px;
  background: #fff;
  margin:10px;
  position: relative;
  box-shadow: 2px 2px #ccc;
  vertical-align: middle;

}
.thumnailsList li a, a.close, .next, .previous{
  cursor: pointer;
  color:#fff !important;
  font-weight: bold;
}
.thumnailsList li a:hover, a.close:hover, .next:hover, .previous:hover{
  background: #000;
  color:#fff !important;
}
.overlay{
  
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: #000;

}
.overlay > div{

  text-align: center;
}
.overlay img{
  height: 100vh;
  width: 80%;
  position: relative;

}
.close, .next, .previous{
  z-index: 25;
  position: absolute;
  top:0;
  right:0;
  display: table;
  background: #e4419e;
  color:#fff;
  width: 50px;
  height:50px;
  line-height: inherit;
  padding:20px;
}
.next, .previous{
  top:50%;
}

.previous{
  left:0;
  right:inherit;
}