.navigation {
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0 0 0 15%;
  height: 20vh;
  max-height: 100px;
  font-size: 16px;
 
}
@media only screen and (max-width:600px){
.navigation{
  margin: 20px 0 0;
  height: auto
}
}
.navigationItem,.rightNavigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 10px;
  text-transform: uppercase;
  color: #fff

}
.rightNavigationItem{
  margin: 0 5px;
}

@media only screen and (max-width:900px){

}
@media(max-width: 600px) {
  .navigationItem {
    
    margin: 0 2px;
   
  }
  .navigationItem a {
    font-size: 10px;
    padding: 10px;
  }
 
}
.navigationItem a{
    overflow: hidden;
    padding: 0 4px;
    height: 1.5em;
    position: relative;
    display: inline-block;
}
.navigationItem a span{
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.navigationItem a:hover {
  color: #fff
}
.navigationItem a:hover span{
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}
.navigationItem a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.navigationButtons{
  color: #fff;
  background: #d6970b;
  padding: 10px 15px;
  margin-top: 25px;
  border-radius: 5px;
}

