@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}


html,body{

  min-height: 100%;
  height:100%;
  scroll-behavior: smooth;
  overflow-x: hidden

}
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: #f8f9fa url(/concrete_seamless.jpg) 50% 0;
  margin: 0;
}
@media only screen and (max-width:900px){
  body{
    overflow-x: hidden
  }
}

/*global css*/
.h4, h4{
  font-family: 'Pacifico';
}
.padding-0{
  padding:0
}
.align-right{
  text-align: right
}
.align-center{
  text-align: center
}
/*end gloabal css*/
/*mobile nav css*/

#header .hide{
  display: none

}
#header .show{
  position: absolute;
  width: 100%;
  left: 0;
  height: 100vh;
  top: 100%;
  
}
@media only screen and (min-width:767px){
  #header .show{
    display: none
  }
}
#header .show .navbg1,#header .show .navbg2 {
  position: absolute;
  content: '';
  height: 100%;
  width: 50%;
  background:#9a6e12  url('../images/footer-bar.png');
  top: 0;
  right: 0;
  transition: 0.5s;
  opacity:1;
  animation-fill-mode: forwards;
  animation: flipRight 1s;
  animation-duration :0.5s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 78%;
  z-index: -9;
}
@keyframes flipRight{
  0%{
    right: -100%;
  }
  50%{
    right: 0%;
  }
  79%{
    right: -2%;
  }
  100%{
    right: 0%;
  }
}
#header .show .navbg2{
  left: 0;
  animation-fill-mode: forwards;
  animation: flipLeft 1s;
  animation-duration :0.5s;
  background:#9a6e12 ;
}
@keyframes flipLeft{
  0%{
    left: -100%;
  }
  50%{
    left: 0%;
  }
  79%{
    left: -2%;
  }
  100%{
    left: 0%;
  }
}
#header .hide::after{
  right:-100%;
  transition: 0.5s;
  opacity:0.1
}


#header .show ul{
  opacity: 0;
  animation:fadeIn 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  margin:0;
  padding:0
}
@keyframes fadeIn{
  0%{opacity:0}
  100%{opacity:1}
}
#header .show ul li {
  text-align: center;
  list-style: none;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px 0;
}
#header .show ul li a.drop{
  margin-bottom: 15px;
  display: block;
}
#header .show ul li ul{
  margin: 15px 0;
}
#header .show ul li ul li{
  text-transform: lowercase;
  font-weight: 100;
  margin: 0px 0;
}
/*end mobile nav css/*/
#header {
  z-index: 999999999;
  background: #000000f0;
  position: fixed;
  padding:15px 100px;
  
}
@media only screen and (max-width:767px){
  #header {

    padding:15px;
    
  }
}
#header::after{
position: absolute;
bottom: 0;
background: #d6970b;
content: '';
height: 5px;
width: 100%;
left: 0;
opacity: 0.7;
transition: 1s;
}
#header:hover::after{
 
  transform: scale(1.1);
}
@media only screen and (max-width:995px){
  #header {
  
  }
}
@media only screen and (min-width:900px){
  #mobileIcon{
    display: none
  }
}
.inner{
  max-width: 930px;
  margin: auto;
  padding:0 20px
}
.button, button{
  background: #d6970b;
    padding: 10px;
    color: #fff !important;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-grid;
    border: none;
    margin: 10px 0;
    font-weight: bold;
}
#logo img{
  width: 100%;
  margin: 20px 50px;
  max-width: 140px;
}
@media only screen and (max-width:767px){
  #logo img{
    margin: 20px 15px;
  }
}
#mobileIcon{
  float: right;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

#mobileIcon.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#mobileIcon.active .bar2 {opacity: 0;}

#mobileIcon.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
img {
  display: block;
  width: 100%;
}
.btn{
  display: inline-flex;
  color: #fff !important;
  background: #e4419e !important;
  padding: 12px 20px 20px 12px;
  font-size: 2.0em;
  margin: 0 0 10px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
  font-family: 'Quicksand', sans-serif;
}

h1{
  font-size: 2.5em;
  color:#00adee;
}
.relative{
  position: relative;
}

p {
  font-size: 1.1em;
  font-weight: normal;
}
section h2{
  font-weight: bold;
  text-transform: uppercase;
}
@media(max-width: 600px) {
  p {
    font-size: 16px;
    font-weight: normal;
    line-height:1.3em;
  }
}

a {
  color: currentColor;
}
a:hover{
  text-decoration: none !important
}


section {
  margin: 0;
  padding: 50px 0 50px 0;
  list-style: none;
  display: block;
  width:100%;
 
}
/*mobile menu css*/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.mobileMenu{
  float: right;
  margin: 15px
}
@media only screen and (max-width:767px){
  .main_navigation_wrapper,  ul.navigation_buttons{
    display: none
  }
}
@media only screen and (min-width:767px){
  .mobileMenu{
    display: none
  }
}

.aboutUsLogo {
  border-right: 1px solid #d6970b;
}


/*banner css*/
.Banner{
  
  background:#070300;
 
  min-height: 100vh;
  position: relative
}
.Banner.inner_page{
  min-height: 70vh
}
@media only screen and (max-width:767px){
  .Banner.inner_page{
    min-height: 60vh
  }
}
.Banner .banner_message{
  position: absolute;
  top: 35%;
  left: 33%;
  max-width: 35%;
  text-align: center;
  margin: auto;
}
@media only screen and (max-width:1024px){
  .Banner .banner_message{
  
    left: 5%;
    max-width: 90%;
    top:40%
   
  }
}
.Banner .banner_message h1{
  font-size: 50px;
  color: #fff;
}
.Banner .banner_message p{
  max-width: 90%;
  margin: 40px 0;
  color: #fff;
}
@media only screen and (max-width:1024px){
  .Banner .banner_message p{
    max-width: 100%;
    
  }
  .Banner .banner_message h1 {
    font-size: 37px;
  
}
}
.Banner .overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  background: url(../images/banner.jpg);
  opacity: 0.1;
  background-attachment: fixed;
  background-size: cover;
}
.aboutUs {
  background: #fff;
  padding: 0 150px 150px 150px;
  color: #231d1f;
  text-align: center;
}
@media only screen and (max-width:600px){
  .aboutUs {
    padding: 0px 50px 50px 50px;
  }
}

.aboutUs img{
  width: 200px;
    margin: 0 auto 20px;
}
.aboutUs h4{
  font-size: 2em;
  margin: 20px 0;
}
.scroll{
  position: relative;
  width: 24px;
  height: 70px;
  margin: auto
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #d6970b;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


.aboutUs .paralax-element{
  position: absolute;
    left: -26%;
    top: -5%;
}
@media only screen and (min-width:1367px){
  .aboutUs .paralax-element{
    position: absolute;
      left: -47%;
  }
}
.aboutUs .paralax-element img{
  width: 450px;
}
@media only screen and (max-width:600px){
  .aboutUs .paralax-element img{
    display: none
  }
}
.aboutUs .inner{
  position: relative;
  
}

.host_your_own {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  min-height: 500px;
  background: url(../images/breakfast.jpg);
  background-size: cover;
  z-index: 9999;
  background-attachment: fixed;
}
@media only screen and (max-width:767px){
  .host_your_own {
    overflow: visible;
    max-height: none
  }
}
.host_your_own img{
  transform: scale(1.5);
}
.host_your_own .paralax-element{
  position: absolute;
    width: 100%;
    left: 0;
}
.host_your_own span {
  height: 150px;
  width: 150px;
  padding: 48px 20px;
  display: block;
  border-radius: 50%;
  text-align: center;
  margin: 30% auto;
  border: 2px solid #fff;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  position: relative;
  transition: 0.5s;
  transform: scale(1.2);
  background: #fff;
  color: #54351b;

}
@media only screen and (max-width:767px){
  .host_your_own span{
    transform: scale(1);
  }
}
.host_your_own a, .host_your_own a:hover{
  text-decoration: none
}
.host_your_own span::after{
  content: '';
			display:block;
			border-radius:50%;
			position:absolute;
      vertical-align:middle;
      transform:scale(1.2,1.2);
    border: 2px solid #fff;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      
}
.host_your_own span:hover{
 
  background: #54351b7d;
  transition: 0.5s;
  color: #fff;
}
.host_your_own span:hover:after{
  animation: pulseIn 0.5s  ;
  animation-fill-mode: forwards
}
@keyframes pulseIn{
  0%{
    opacity:0;
    transform:scale(1,1);
  }
  
  100%{
    opacity:1;
    transform:scale(1.2,1.2);
    border: 2px solid #fff;
  }
}


@media only screen and (max-width:767px){
  .host_your_own span {
    margin: 20px auto;
  }
  .ideas img{
    padding-bottom: 20px
  }
}
.host_your_own h2{
  color: #fff
}


.upcoming .logo{
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  min-height: 100px;
    max-height: 100px;
    overflow: hidden;
 
}
.upcoming .event_item{
  float: left;
  margin:0 10px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  color: #fff
}
@media only screen and (max-width:600px){
  .upcoming .event_item{
    float: none;
    margin:auto;
 
  }
}
.event_name {
  margin: 15px 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.bottom_section{
  background:url('https://images.ctfassets.net/i6lqydrpe4hk/4sj0lRkWX7MxJ4Ta1Bp8Of/10b525135df9eb4609fb4c4ebc3fc65a/bg-4.png') no-repeat;
  background-size: contain;

}
@media only screen and (min-width:767px){
  .bottom_section{
    padding: 100px;
 
  
  }
}
@media only screen and (max-width:767px){
  .bottom_section{
   
    background-size: 60%;
    background-position: bottom right;
  
  }
}
.bottom_heading h2{
  
}



.contactUs{
  min-height: 50vh;
  padding-top:50px 
}
@media only screen and (max-width:767px){
  .contactUs .input_name{
    margin:15px 0
  }
}